<!DOCTYPE html>
<html>
  <head>
<link rel="stylesheet" href="style.css">
</head>
<body>

  <canvas id="myCanvas" width="900" height="550" style="border:1px solid #d3d3d3;">
  Your browser does not support the HTML5 canvas tag.</canvas>

<!-- <div> Your Score is: </div> -->
<div id= "score"> 0 </div>

<div id= "end">  </div>
  <!-- Assets  -->
  <script src="assets/character.js"> </script>
  <script src="assets/coin.js"> </script>
  <script src="assets/layout.js"> </script>


  <!-- Logic  -->
  <script src="logic/movement.js"> </script>

  <!-- Controller  -->
  <script src="gamecontroller.js"> </script>

  <!-- <script>

document.getElementById("score").innerHTML = mario.score

  </script> -->


</body>
</html>
