<!DOCTYPE html>
<html>
<head>
<title>Canvas</title>
<style>
#canvas{
  outline: px solid #000;
}
</style>
</head>
<body>

<canvas id="canvas" width="400" height="600" style="border:1px solid #d3d3d3;">
</canvas>

<script>

var canvas = document.querySelector('#canvas');
var context = canvas.getContext('2d');

var xPos = 0;
var yPos = 400;

context.rect(xPos, yPos, 50, 50);
context.stroke();

function move(e){

  alert(e.keyCode);
  alert(yPos);

// move right
  if(e.keyCode==39){
    xPos+=5;
  }
  //
  // if(e.keycode==37){
  //   xPos-=5;
  // }
  if(e.keyCode==38){
    yPos-=5;
  }

  if(e.keyCode==40){
    yPos+=5;
  }

  canvas.width=canvas.width;
  context.rect(xPos, yPos, 50, 50);
  context.stroke();

}

document.onkeydown = move;

</script>
</body>
</html>
